---
layout: page
permalink: /categories.html
title: Categories
body: no_title video
---

<div class="archives">
  {% for category in site.categories %}
    <div class="archive-group">
      {% capture category_name %}{{ category | first }}{% endcapture %}
      {% capture category_slug %}{{ category_name | slugize }}{% endcapture %}

      <h2 id="{{ category_slug }}" class="category-name">{{ category_name }}</h2>
      {% for post in site.categories[category_name] %}
        {% include preview.liquid name='archive-item' %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
