// Placeholder to allow overriding predefined variables smoothly.
$color--primary: #008fd4;
$color--grey: #969696;
$color--white: #ccc;
$background-color: #080808;

$text-color: $color--grey;
$title-color: $color--white;
$site-title-color: $color--white;

$banner__height: 55vh;

$width-s: 800px;
$width-l: 1140px;
